.abaut {
    display: block;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 2rem;
    
    font-size: 1.5rem;
    border-left: 30px solid darkgray;
    border-right: 30px solid darkgray;
    text-align: center;


    background: $darkgreen;
    color: white;

    line-height: 40px;

    &__header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;

    }
&__description{
  text-justify: newspaper;  
  
}
}