.abaut {
    display: block;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 2rem;
    
    font-size: 1.5rem;
    border-left: 1.875rem solid darkgray;
    border-right: 1.875rem solid darkgray;
    text-align: center;


    background: $darkgreen;
    color: white;

    line-height: 2.5rem;

    &__header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;

    }
&__description{
  text-justify: newspaper;  
  
}
}