.contact{
    border-left: 30px solid darkgray;
    border-right: 30px solid darkgray;
    background-color: $darkgreen;
    color: white;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    &--header{
        display: block;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif, initial, justify;
        font-size: 2.7rem;
    }
   
    &--list{
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        text-align: center;
        row-gap: 2rem;
        margin: 2rem  auto auto 1rem;
        

        
        
        font-family: 'Roboto Condensed', sans-serif, initial, justify;
    font-size: 1.5rem;
    
    line-height: 40px;
    
    
    }
    &--list-description{
    margin-top: 10px;
    margin-bottom: 30px;
    }
}

.map{
    position: relative ;
    overflow: hidden;
    border-left: 30px solid darkgray;
    border-right: 30px solid darkgray;
}