@import "_normalize";
@import "_variables";
@import "navigation";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

body {
  
  background:url(../assets/img/nav_background.jpg);
  -webkit-backdrop-size:cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}