.menu-area li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.062rem;
  text-transform: uppercase;
  display: block;
  padding: 0 1.56rem;
  font-size: 1.25rem;
  line-height: 1.86rem;
  position: relative;
  z-index: 1;
  margin-right: 1.25rem;

}
.menu-area li {
  list-style: none;
  display: inline-block;
}
.custom-padding {
  padding-top: 1.56rem;
  display: block;
  ;
  @media (max-width:$mobile-one) {
    padding: 1px 1px 1px;
}
}
nav {
  position: fixed ;
  top: 0;
  
  padding: 0.626rem 1.25rem 0.626rem 0.626rem;
  text-align: right;
  z-index: 1;
  background: $darkgreen;
  margin:  auto;
  width: calc(100% - 1.25rem);
  right: 0.4rem;
}
.logo {
  width: 15%;
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.56rem;
  text-align: left;
  padding-left: 2%;
}
.menu-area li a:hover {
  background: rgb(255, 255, 255);
  color: $darkgreen;
  
}
nav:before {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  border-top: 0.626rem solid $darkgreen;
  border-right: 0.626rem solid $darkgreen;
  border-left: 0.626rem solid trasparent;
  border-bottom: 0.626rem solid transparent;
}
nav:after {
  position: absolute;
  content: "";
  right: 0;
  top: 100%;
  border-top: 0.626rem solid $darkgreen;
  border-right: 0.626rem solid transparent;
  border-left: 0.626rem solid $darkgreen;
  border-bottom: 0.626rem solid transparent;
}

.logo-image {
  background: url(../assets/img/nav_background.jpg ) center center ;
  
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6.25rem;
  min-height: 50rem;

  margin: 1.875rem;
  font-family: "Staatliches", cursive;
  font-size: 5rem;
  font-kerning: inherit;
}
