.slowFood {
  background: $darkgreen;
    color: white;
  border-left: 1.875rem solid darkgray;
  border-right: 1.875rem solid darkgray;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif, initial, justify;
  padding-bottom: 2rem;
  
  
    
 

  &__description {
    
    letter-spacing: 0.062rem;
    line-height: 2.5rem;
    padding: 0.626rem 0.626rem 0.626rem 0.626rem;
   
  }
  &__header {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 2rem;
    padding-top: 2.5rem;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 1rem 1rem 1rem;
    padding: 2rem 2rem 2rem 2rem;
    list-style-type: none;
    column-gap: 2rem;
    row-gap: 2rem;
    
  }
}

